<p>
  <strong>First name:</strong>
  <%= userable.profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= userable.profile.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= userable.profile.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= userable.profile.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= userable.profile.address %>
</p>
