<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %>,</h1>
    <p>
      You have a new student for <%=@course.name%> <%= @discipline %>-<%=@course.course_number%>!.
      Login to see all the students registered for this course.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>