
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %>,</h1>
    <p>
      You have successfully registered for <%=@course.name%> <%= @discipline %>-<%=@course.course_number%>!
      Login to see the classes you are currently registered for.<br>
      If you did not register for this course, contact Admin immediately. <br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for registering and have a great day!</p>
  </body>
</html>