<h1>Editing Student</h1>

<%= render 'form', student: @student %>

<% if current_user.userable_type.to_s == "Student"%>
  <% if @student.credit_card.nil? %>
    <%= link_to 'Add Credit Card', new_student_credit_card_path(@student) %> |
  <% elsif %>
    <%= link_to 'Show Credit Card', student_credit_cards_path(@student) %> |
    <%= link_to 'Edit Credit Card', edit_student_credit_card_path(@student) %> |
    <%= link_to 'Delete Credit Card', [@student, @student.credit_card], method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
<% end %>
<%= link_to 'Show Profile', @student %> |
<% if current_user.userable_type.to_s == "Admin"%>
    <%= link_to 'View Students', students_path %> |
<% end %>
<%= link_to 'Home', home_path %>
