<p id="notice"><%= notice %></p>

<p id="notice"><%= notice %></p>

<%= render './profiles/profileshow', userable: @student %>

<p>
  <b>Major:</b>
  <%= Discipline.find(@student.discipline_id).name %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
