<p id="notice"><%= notice %></p>

<%= render './profiles/profileshow', userable: @student %>

<p>
  <b>Major:</b>
  <%= Discipline.find(@student.discipline_id).name %>
</p>
<% if @student.credit_card.nil? %>
  <%= link_to 'Add Credit Card', new_student_credit_card_path(@student) %> |
<% else %>
  <%= link_to 'Show Credit Card', student_credit_card_path(@student) %> |
  <%= link_to 'Edit Credit Card', edit_student_credit_card_path(@student) %> |
  <%= link_to 'Delete Credit Card', [@student, @student.credit_card], method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<% if current_user.userable_type.to_s == "Admin"%>
	<%= link_to 'Edit Profile', edit_student_path(@student) %> |
  <%= link_to 'View Students', students_path %> |
<%end%>
<%= link_to 'Home', home_path %>
