<h1>Welcome to Your Home Page Admin!</h1>

<p id="notice" ><%= notice %></p>

<br>

<%= link_to "Students", students_path %> |
<%= link_to "Teachers", teachers_path %> |
<%= link_to "View feedbacks", feedbacks_path %> |
<%= link_to 'View Purchase History', purchase_histories_path %> |
<%= link_to "Disciplines", disciplines_path %> |
<%= link_to "Courses", courses_path %> |
<%= link_to "Edit Profile", edit_admin_path(current_user.userable.id)%> |
 Logged in as <%= current_user.email %> |
 <%= link_to "Log Out", logout_path %>