<h1>Home Page</h1>

<p id="notice" ><%= notice %></p>

<p>This is a static homepage for now, we can fix the redirect to happen somewhere else based on user.</p>

<%= link_to "Students", students_path %> 
<%= link_to "Teachers", teachers_path %> 
<%= link_to "Disciplines", disciplines_path %> 
<%= link_to "Courses", courses_path %> 
 Logged in as <%= current_user.email %>.
 <%= link_to "Log Out", logout_path %>