<h1> Welcome to Your Student Home Page <%=current_user.first_name%>!</h1>

<p id="notice" ><%= notice %></p>

<br>

<%= link_to "View Cart", student_carts_path(current_user.userable.id) %> |
<%= link_to 'View Purchase History', purchase_histories_path %> |
<%= link_to "Courses", courses_path %> |
<%= link_to "View feedbacks", feedbacks_path %> |
<%= link_to "Edit Profile", edit_student_path(current_user.userable.id) %> |
<%= link_to "Teachers", teachers_path %> |
Logged in as <%= current_user.email %> |
<%= link_to "Log Out", logout_path %>