<h1> Welcome to Your Teacher Home Page <%=current_user.first_name%>!</h1>

<p id="notice" ><%= notice %></p>

<br>

<%= link_to "Courses", courses_path %> |
<%= link_to "View feedbacks", feedbacks_path %> |
<%= link_to "Edit Profile", edit_teacher_path(current_user.userable.id) %> |
 Logged in as <%= current_user.email %> |
 <%= link_to "Log Out", logout_path %> 