<p id="notice"><%= notice %></p>

<%= render './profiles/profileshow', userable: @teacher %>

<p>
  <b>Discipline:</b>
  <%= Discipline.find(@teacher.discipline_id).name %>
</p>

<% if current_user.userable_type.to_s == "Admin"%>
  <%= link_to 'Edit Profile', edit_teacher_path(@teacher) %> |
  <%= link_to 'View Teachers', teachers_path %> |
<% end %>
<%= link_to 'Home', home_path %>

