<p id="notice"><%= notice %></p>

<%= render './profiles/profileshow', userable: @teacher %>

<p>
  <b>Discipline:</b>
  <%= Discipline.find(@teacher.discipline_id).name %>
</p>

<% if current_user.userable_type.to_s == "Admin"%>
  <%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<% end %>
<%= link_to 'Back', teachers_path %>

