<p id="notice"><%= notice %></p>

<p>
  <strong>Course Number:</strong>
  <%= @feedback.course_section.course.course_number %>
</p>

<p>
  <strong>Course Name:</strong>
  <%= @feedback.course_section.course.name %>
</p>

<% if current_user.userable_type.to_str != "Teacher" %>
  <p>
    <strong>Teacher:</strong>
    <%= @feedback.course.name %>
  </p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @feedback.description %>
</p>

<% if current_user.userable_type.to_str == "Student" %>
  <%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<% end %>
<%= link_to 'View Feedbacks', feedbacks_path %> |
<%= link_to 'Home', home_path %>
