<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_number %>
    <%= form.number_field :course_number, id: :course_course_number %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :course_name %>
  </div>

  <div class="field">
    <%= form.label :discipline_id %>
    <%= form.select("discipline_id", Discipline.all.collect{ |d| [ d.name, d.id] }) %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.text_field :area, id: :course_area %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :course_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
