<p id="notice"><%= notice %></p>

<p>
  <strong>Course Number:</strong>
  <%= @course.course_number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <b>Discipline:</b>
  <%= Discipline.find(@course.discipline_id).name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @course.area %>
</p>

<p>
  <strong>Price:</strong>
  <%= @course.price %>
</p>

<% if current_user.userable_type.to_s == "Admin"%>
  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Create Course Section', new_course_course_section_path(@course) %> |
<% end %>
<% if current_user.userable_type.to_s == "Teacher"%>
  <% if CourseSection.where(teacher_id: current_user.userable.id, course_id: @course.id).any? == true %>
    Registered |
  <% else %>
    <%= link_to 'Create Course Section', course_register_path(@course), method: :post %> |
  <% end %>
<% end %>
<% if @course.course_sections.any? %>
  <%= link_to 'View Course Sections', course_course_sections_path(@course) %> |
<% else %>
No Course Sections exist |
<% end %>
<%= link_to 'View Courses', courses_path %> |
<%= link_to 'Home', home_path %>
