<p id="notice"><%= notice %></p>

<p>
  <strong>Course Number:</strong>
  <%= @course.course_number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <b>Discipline:</b>
  <%= Discipline.find(@course.discipline_id).name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @course.area %>
</p>

<p>
  <strong>Price:</strong>
  <%= @course.price %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
